html{
    background-color: rgb(6, 41, 61);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    border-style: hidden;
    margin: 0% 15.5%;
    background-color: white;
}

/*HEADER*/

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(6, 41, 61);
    border-style: hidden;
    padding: 3.5% 1% 1.5% 1%;
}

#nome{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    margin-left: 10px;
    margin-right: 10px;
}

#consultoria{
    color: white;
    border-style: hidden;
    margin-left: 7%;
}
#james{
    border-style: hidden;
    margin-left: 7px;
    color: rgb(77, 181, 216);
}

nav{
    display: flex;
    justify-content: space-between;
    border-style: hidden;
    margin-top: 0.5%;
    width: 65%;
    font-size: 110%;
}

.navegacao{
    border-style: hidden;
    margin-left: 30px;
    color: white;
    text-decoration: none;
}

#pagina{
    color: #005b76;
}

/*MAIN*/

main{
    position: relative;
    border-style: hidden;
}

#surfista{
    display: block;
    background-image: url("../img/surf.png");
    border-style: solid;
    border-color: white;
    height: 390px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0px 15px;
    bottom: 15px;
}

#texto{
    position: relative;
    top: 7%;
    left: 4%;
    color: white;
    font-size: 130%;
}

#servicos{
    font-size: 350%;
}

#subtitulo{
    position: absolute;
    top: 100%;
    font-size: 90%;
}


.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: hidden;
    margin: 25px 15px;
}

.box{
    border-style: hidden;
    margin: 10px;
    height: 220px;
    padding: 10px 15px;
    background-color: rgb(22, 146, 230);
    color: white;
}

.titulo{
    position: relative;
    /* left: 5%; */

}

.informacoes{
    text-align: initial;
    font-size: small;
    position: relative;
    /* left: 5px; */
}

.botao{
    position: relative;
    /* left: 5%; */
    bottom: -40px;
    border-style: hidden;
    border-radius: 7%;
    padding: 10px 14px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-image: linear-gradient(#00baee 50%, #00a3e0 50%);
}

#cd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 160px;
    position: relative;
    bottom: 15px;
    font-size: 150%;
}

#ultimo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 210px;
    bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-style: hidden ;
}

.umDos{
    position: relative;
    margin: 0px 15px;
}

#img{
    background-image: url(../img/fig1.png);
    background-size: cover;
    background-position: center;
}

#timg{
    position: relative;
    z-index: -5;
}

.meio{

    margin: 0;
    margin-right: 30px;

}

#saibamais{
    position: absolute;
    bottom: 0;
    left: 2px;
    text-decoration: none;
    color: #005b76; 
}

#samanta{
    background-color:rgb(36, 134, 247);
    text-align: left;
    padding: 0;
    margin: 0;
    height: 175px;
    width: 100%;
    
}

#samanta p{
    margin: 0;
    padding: 10px;
}

#jones{
    position: absolute;
    bottom: 0;
    left: 2px;
}

footer{
    background-color: aquamarine;
    padding: 20px 20%;
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div a{
    text-decoration: none;
    color: rgb(66, 143, 243);
    font-size: 13px;
}